<ion-header>
  <ion-toolbar #logoToolbar class="ion-text-center">
    <img #logo
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Xiaomi_logo_%282021-%29.svg/601px-Xiaomi_logo_%282021-%29.svg.png"
      width="40" height="40">
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Friends list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Online
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/shutterstock/photos/1047539635/display_1500/stock-photo-professional-road-bicycle-racer-in-action-1047539635.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Amateur cyclist</h3>
        <p>Listen, why don't we go for a ride...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/shutterstock/photos/735396703/display_1500/stock-photo-dynamic-running-uphill-on-trail-male-athlete-runner-side-view-735396703.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tudor</h2>
        <h3>Training for a triathlon</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/shutterstock/photos/359568020/display_1500/stock-photo-young-woman-runner-running-on-city-bridge-road-359568020.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Ana</h2>
        <h3>Running for cardio</h3>
        <p>Could you recommend me a nice pair of running...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/shutterstock/photos/603198743/display_1500/stock-photo-sport-backgrounds-sprinter-on-the-start-line-of-the-track-befor-the-dramatic-sky-603198743.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Professional sprinter</h3>
        <p>Try to aim for a constant BPM of around...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Offline
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/shutterstock/photos/359568020/display_1500/stock-photo-young-woman-runner-running-on-city-bridge-road-359568020.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Skylar</h2>
        <h3>Last seen 3 days ago</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/image-photo/david-bengurion-18861973-first-prime-600w-1613794132.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Account deleted</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/image-photo/active-hiker-enjoying-view-himalayas-260nw-644176402.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <h3>Last seen 5 minutes ago</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
