<ion-header>
  <ion-toolbar>
    <ion-title>
      Logo
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
    <ion-segment scrollable [(ngModel)]="selectedSegment">
      <ion-segment-button class="topSegment" *ngFor="let item of segmentList; let i = index" [value]="item" (click)="segmentSelected(item, i)">
        <ion-label>{{item}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slide (ionSlideDidChange)="slideChanged($event)">
    <ion-slide *ngFor="let item of slideList">
      {{item}}
    </ion-slide>
  </ion-slides>
</ion-content>
