#segment{
    width: 100vw;
}

.topSegments{
    max-width: 25vw !important;    
    font-size: xx-small;
}

p{
    font-size: xx-small;
}

ion-card{
    width: 85vw !important;
}

#stepsIcon{
    font-size: xx-large;
    margin-top: 4vh;
    margin-left: 12vw;
    border-radius: 50%;
    border: 3px solid orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    z-index: 9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstStats{
    font-size: small;
    font-weight: bold;
}

.secondStats{
    font-size: xx-small;
}

.viewMore{
    font-size: small;
    color: gray;
}